@model CartItemViewModel
<div class="row cart-item">
    <div class="col-md-10">
        <input type="hidden" name="ID" value="@Model.CartItemID" />
        <input type="hidden" name="SKUID" value="@Model.SKUID" />
        <div class="cart-item-image">
            @if (!string.IsNullOrEmpty(Model.SKUImagePath))
            {
                <a href="@Url.Action("FindProduct", "ShoppingCart", new { skuId = Model.SKUID })">
                    <img src="@Model.SKUImagePath" alt="@Model.SKUName" title="@Model.SKUName" />
                </a>
            }
        </div>
        <div class="cart-item-info">
            @Html.ActionLink(Model.SKUName, "FindProduct", "ShoppingCart", new { skuId = Model.SKUID })
            <small class="text-muted font-italic">
                @Model.SKUNumber
                @Html.Raw(!string.IsNullOrEmpty(Model.SKUNumber) ? "<br/>" : "")
                @if (Model.CustomOptions.Count > 0)
                {
                    foreach (var key in Model.CustomOptions.Keys)
                    {
                        <strong>@key :</strong> @Model.CustomOptions[key]
                        <br />
                    }
                }
            </small>
        </div>

        <div class="cart-item-amount">
            <span>Qty</span>
            <input type="number" min="0" step="1" name="Units" value="@Model.CartItemUnits" class="form-control cart-item-units" />
        </div>

        <div class="cart-item-remove">
            <a href="#" class="btn btn-default cart-item-remove-btn" title="Remove">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                <span class="visually-hidden">
                    @HtmlLocalizer["remove"]
                </span>
            </a>
        </div>

        @Html.ValidationMessage(Model.CartItemID.ToString(), new { @class = "red" })
    </div>
    <div class="col-md-2 cart-item-subtotal">
        <span>@Model.FormattedPrice</span>
    </div>
</div>